*{ 
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Dongle-light";
    src: url("Dongle/Dongle-Light.ttf");
}
@font-face {
    font-family: "Dongle-regular";
    src: url("Dongle/Donglele-regular.ttf");
}
@font-face {
    font-family: "Dongle-bold";
    src: url("Dongle/Donglele-bold.ttf");
}
header{
    display: flex;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;

}
.logo img{
    max-width: 15%;
}
.nav-menu ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-right: 20px; 
}
.nav-menu li:last-child{
     margin-right: 0;
}
.nav-menu a{
    text-decoration: none;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    color: #333;
}
.nav-menu a:hover{
    color: #ff75ff;
}
.hero{
    height: 600px;
    overflow: hidden; 
}
.hero-image img{
    position: relative;
    height: 600px;
    overflow: hidden;
}
.hero-image img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.hero-content p{
    font-family: "Dongle-regular";
    font-size: 1.8rem;
    margin-top: -20px;
    margin-bottom: 10px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    transition: all ease 0.3s;
}
.hero-button:hover{
    background-color: #333;
}
.destinations{
    font-size: 2.4rem;
    font-family: "Dongle-bold";
    margin-bottom: 40px;
    margin: 80px 80px;
    text-align: center;
}
.destinations h2{
    margin-bottom: 40px;
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
}
.destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.destination-item h3{
    font-size: 2rem;
}
.destination-item p{
    font-size: 1.6rem;
    line-height: 1;
    font-family: "Dongle-regular";
}
.about{
    text-align: center;
    padding: 80px;
}
.about h3{
    font-family: "Dongle-bold";
    font-size: 3rem;
}
.about p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}
.team-members{
    display:flex;
    flex-wrap: wrap;
}
.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
}
.team-member h4{
    font-family: "Dongle-bold";
    font-size: 2rem;
}
.contact{
    padding: 80px;
    text-align: center;
    color: #f7f7f7;
}
.contact h3{
    font-family: "Dongle-bond";
    font-size: 3rem;
}
.contact p{
    font-family: "Dongle-regular";
    font-size: 1,4rem;
    margin-bottom: 20px;
}
.contact-info ul{
    list-style: none;
    display: flex;
    justify-content: center;
     align-items: center;
     margin-bottom: 40px;
}
.contact-info li{
    margin: 0 20px;
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    display: flex;
}
.contact-info li a{
    text-decoration: none;
    font-family: "Dogle-regular";
    color: black;
}
.contact-info i{
    font-size: 24px;
    margin-right: 10px;
}
.form{
    width: 100%;
}
input,textarea{
    width: 70%;
    padding: 20px 0;
    margin: 20px 0;
    border: none;
    box-shadow:0 0 5px rgba(0,0,0,0.1);
    border-radius: 1rem;
    font-family: "Dongle-regular";
}
textarea{
    height:200px;
}
.form button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: "Dongle-bold";
    font-size: 1.6rem;
    border: none;
    transition: all ease 0.3s;
}
.formbutton:hover{
    background-color: #333;}
footer{
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.social-icons a{
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}
footer p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
}
